@model BlogListViewModel 
<div class="container p-2">
    <h1 class="h2 py-2 my-1">@Model.Title</h1>
    <div class="mx-auto mb-3">
        <img src="./../../../../assets/imgs/starcraft - 1.png" class="img-fluid" alt="title img" />
        <input type="hidden" value="@Model.Id" id="movie-key" />
    </div>
    <div class="m-2">
        @for (int i = 0; i < 10; i++)
        {
            <p class="lh-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In necessitatibus sint molestias rerum, at nobis neque quis suscipit? Esse optio inventore perspiciatis et quas fugiat repellat ex reiciendis ipsum rerum?
            </p>
        }
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <div class="p-2 m-1">
            <div>
                Review page make later
            </div>
            <div class="row g-2">
                <div class="col-10">
                    <input type="text" class="form-control" id="review-mes" placeholder="write a review" />
                </div>
                <div class="col-2">
                    <button class="btn btn-primary w-100" id="confirm-but">Review</button>
                </div>
            </div>
        </div>
    }
    <templdate>
        <div class="m-2">
            <div>Hello World</div>
        </div>
    </templdate>
    <script src="~/js/review.js" defer ></script>
</div>