@model RegisterModel
@{
    Layout = "_AuthLayout";
}
<div class="">
    <div class="container start-0 end-0 bottom-0 top-0 position-absolute h-75 m-auto">
        <div class="rounded w-50 shadow-sm p-3 d-block m-auto">
            <div class="p-2 h2 text-center">Register</div>
            <hr class="w-50 text-center mx-auto text-secondary" />
            <partial name="MessageCommon" />
            <form class=" p-2" method="post">
                <div class="mb-2">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" role="textbox" />
                    <partial name="ErrorMessage" model='"Name"' />
                </div>
                <div class="mb-2">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="Email" role="textbox" />
                    <partial name="ErrorMessage" model='"Email"' />
                </div>
                <div class="mb-2">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password" role="textbox" />
                    <partial name="ErrorMessage" model='"Password"' />
                </div>
                <div class="mb-2">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="ConfirmPassword" role="textbox" />
                    <partial name="ErrorMessage" model='"ConfirmPassword"' />
                </div>
                <div class="mb-2">
                    <label class="form-label">Password</label>
                    <input type="date" class="form-control" asp-for="DateOfBirth" role="textbox" />
                    <partial name="ErrorMessage" model='"DateOfBirth"' />
                </div>
                <div class="">
                    <input type="submit" class="btn btn-primary w-100" value="Register" role="button" />
                </div>
            </form>
            <div class="text-center">If you don't have a account , you can open via the <a asp-action="Login" asp-controller="Auth">Login</a> link.</div>
        </div>
        
    </div>
</div>
